Repository cse110-fa21-group3/cse110-fa21-group3, pull requests merged in 2021-12, with the labels that each got.

#51 Recipe editing feature
  source/createRecipe.html
  source/recipePage.html
  source/scripts/createRecipe.js
  source/scripts/main.js
  source/scripts/recipePage.js
Labels: enhancement, feature, backend-DOM

#56 css for recipe images plus text coloring
  source/recipePage.html
  source/recipepage_style.css
Labels: CSS, front-end

#67 add create button on search/fav page & adjust styling
  source/common.css
  source/homeStyles.css
  source/searchpage.html
Labels: enhancement, CSS, front-end

#64 Fixed Recipes Not Displaying After Setting Intolerances
  source/scripts/API/utilityFunctions.js
Labels: bug, backend-API, HIGH

#61 Fixed bug where a remove button could delete the entire parent container
  source/createRecipe.html
  source/scripts/createRecipe.js
  source/scripts/recipePage.js
Labels: backend-DOM

#73 Fixed issues where favorite button isn't on for favorited recipes and userData item wasn't being created.
  source/scripts/main.js
  source/scripts/recipePage.js
Labels: backend-DOM, bug-fix

#75 updating recipe page button and spacing
  source/recipePage.html
  source/recipepage_style.css
Labels: CSS, front-end

#80 Adjust picture height
  source/homeStyles.css
Labels: CSS, front-end

#82 Finished link trimming.
  source/scripts/API/utilityFunctions.js
Labels: enhancement, backend-API

#88 create recipe: image feature + serving size input implemented
  createRecipe.html
  source/common.css
  source/createStyles.css
  source/homeStyles.css
  source/scripts/createRecipe.js
Labels: feature, backend-DOM, CSS, front-end

#86 Fixes for issues #59, #60, #68, #85, with some additional CSS changes
  createRecipe.html
  source/createStyles.css
  source/scripts/API/utilityFunctions.js
  source/scripts/createRecipe.js
  source/scripts/main.js
  source/scripts/router.js
Labels: enhancement, backend-DOM, CSS, bug-fix

#99 Added search functionality to search bar on recipe info pages
  source/scripts/recipePage.js
Labels: backend-API, backend-DOM, bug-fix

#108 Css improvement
  .github/workflows/super-linter.yml
  __test__/data.json
  __test__/lshandler.test.js
  __test__/setup.js
  __test__/util.test.js
  index.html
  package.json
  recipePage.html
  searchpage.html
  source/common.css
  source/homeStyles.css
  source/image/add_button_black.svg
  source/image/iconmonstr-time-10.svg
  source/image/link.svg
  source/image/text.svg
  source/recipepage_style.css
  source/scripts/API/localStorageHandler.js
  source/scripts/API/utilityFunctions.js
  source/scripts/createRecipe.js
  source/scripts/main.js
  source/scripts/recipeCard.js
  source/scripts/recipePage.js
  source/scripts/searchPage.js
  source/searchStyles.css
Labels: enhancement, feature, HIGH, CSS, front-end

#111 Making minor CSS changes
  createRecipe.html
  index.html
  recipePage.html
  searchpage.html
  source/homeStyles.css
  source/recipepage_style.css
  source/scripts/main.js
  source/searchStyles.css
Labels: enhancement, CSS
